In [1]:
#File by Dylan Steinecke ft. Stack Overflow, Sarah Madsen, and Rina Ding

In [2]:
import pandas as pd
import numpy as np

## Dataframes: Place/City/Neighborhood Demographics

In [3]:
#Makes a dataframe of the age columns from the LA Times neighborhood data
hoodDemoDF = pd.read_csv(r'community_demographic_cleaned.csv', encoding = "ISO-8859-1")
neighborhood_DemographicsDF = hoodDemoDF[['Neighborhood','AGE.10.OR.LESS', 'AGE.11.TO.18','AGE.19.TO.34','AGE.35.TO.49','AGE.50.TO.64','AGE.65.AND.UP','POPULATION.TOTAL']].loc[1:len(hoodDemoDF)]
#neighborhoodAgesDF

In [4]:
#Combines age columns to make them cohere with the LA County data
hood_DemographicsDF = pd.DataFrame()
hood_DemographicsDF['NEIGHBORHOOD'] = neighborhood_DemographicsDF['Neighborhood']
hood_DemographicsDF['%AGE_18_OR_LESS'] = neighborhood_DemographicsDF['AGE.10.OR.LESS'] + neighborhood_DemographicsDF['AGE.11.TO.18']
hood_DemographicsDF['%AGE_19_TO_49'] = neighborhood_DemographicsDF['AGE.19.TO.34'] + neighborhood_DemographicsDF['AGE.35.TO.49']
hood_DemographicsDF['%AGE_50_TO_64'] = neighborhood_DemographicsDF['AGE.50.TO.64']
hood_DemographicsDF['%AGE_65_AND_UP'] = neighborhood_DemographicsDF['AGE.65.AND.UP']
hood_DemographicsDF['POPULATION_TOTAL'] = neighborhood_DemographicsDF['POPULATION.TOTAL']
hood_DemographicsDF['SUM_SHOULD_BE_1'] = hood_DemographicsDF['%AGE_18_OR_LESS'] + hood_DemographicsDF['%AGE_19_TO_49'] + hood_DemographicsDF['%AGE_50_TO_64'] + hood_DemographicsDF['%AGE_65_AND_UP']
age18orLessHood = []
age19to49Hood = []
age50to64Hood = []
age65andUp = []
for i in range(1,len(neighborhood_DemographicsDF)+1):
        age18orLessHood.append((neighborhood_DemographicsDF['AGE.10.OR.LESS'].loc[i] + neighborhood_DemographicsDF['AGE.11.TO.18'].loc[i])*neighborhood_DemographicsDF['POPULATION.TOTAL'].loc[i])
        age19to49Hood.append((neighborhood_DemographicsDF['AGE.19.TO.34'].loc[i] + neighborhood_DemographicsDF['AGE.35.TO.49'].loc[i])*neighborhood_DemographicsDF['POPULATION.TOTAL'].loc[i])
        age50to64Hood.append(neighborhood_DemographicsDF['AGE.50.TO.64'].loc[i]*neighborhood_DemographicsDF['POPULATION.TOTAL'].loc[i])
        age65andUp.append(neighborhood_DemographicsDF['AGE.65.AND.UP'].loc[i]*neighborhood_DemographicsDF['POPULATION.TOTAL'].loc[i])
hood_DemographicsDF['#18_or_Less'] = age18orLessHood
hood_DemographicsDF['#19_to_49'] = age19to49Hood
hood_DemographicsDF['#50_to_64'] = age50to64Hood
hood_DemographicsDF['#65_and_Up'] = age65andUp
hood_DemographicsDF

,NEIGHBORHOOD,%AGE_18_OR_LESS,%AGE_19_TO_49,%AGE_50_TO_64,%AGE_65_AND_UP,POPULATION_TOTAL,SUM_SHOULD_BE_1,#18_or_Less,#19_to_49,#50_to_64,#65_and_Up
1,Rolling Hills,0.255,0.306,0.236,0.204,3218,1.001,820.590,984.708,759.448,656.472
2,Palos Verdes Estates,0.246,0.313,0.240,0.201,13340,1.000,3281.640,4175.420,3201.600,2681.340
3,Bel-Air,0.196,0.367,0.228,0.209,7691,1.000,1507.436,2822.597,1753.548,1607.419
4,Bradbury,0.231,0.331,0.191,0.248,1268,1.001,292.908,419.708,242.188,314.464
5,Century City,0.123,0.432,0.181,0.264,5513,1.000,678.099,2381.616,997.853,1455.432
...,...,...,...,...,...,...,...,...,...,...,...
260,Central-Alameda,0.416,0.474,0.066,0.044,40947,1.000,17033.952,19408.878,2702.502,1801.668
261,Florence-Firestone,0.418,0.459,0.073,0.049,60154,0.999,25144.372,27610.686,4391.242,2947.546
262,Bell Gardens,0.413,0.472,0.075,0.040,44054,1.000,18194.302,20793.488,3304.050,1762.160
263,Vernon,0.447,0.415,0.106,0.032,94,1.000,42.018,39.010,9.964,3.008
264,Watts,0.456,0.420,0.072,0.052,36815,1.000,16787.640,15462.300,2650.680,1914.380

## Dataframes: LA County Demographics

In [5]:
LADemoDF = pd.read_csv(r'demographics.csv')

In [6]:
LAAP = LADemoDF[['POP']].loc[0:7]  #Defining the countywide population breakdown as a variable for readability purposes

tempLADemographicsDF = pd.DataFrame()
tempLADemographicsDF['AgeCategories'] = LADemoDF['characteristic']
tempLADemographicsDF['PopulationInAgeGroups'] = LAAP
LA_CountyPopulation = LAAP.sum()

#Combines the age categories for the LA County data into comparable categories with the Place data because the Place/neighborhood
#data doesn't have the same categories. Note: LA County's '18 or less' only has 5-17. Otherwise, categories line up
LA_DemographicsDF = pd.DataFrame()
LA_DemographicsDF['AgeCategories'] = ['AGE_18_OR_LESS','AGE_19_TO_49', 'AGE_50_TO_64', 'AGE_65_AND_UP']
LA_DemographicsDF['PopulationByAge'] = [tempLADemographicsDF['PopulationInAgeGroups'].loc[0:2].sum(), tempLADemographicsDF['PopulationInAgeGroups'].loc[3:4].sum(), tempLADemographicsDF['PopulationInAgeGroups'].loc[5].sum(), tempLADemographicsDF['PopulationInAgeGroups'].loc[6:7].sum()]
LA_DemographicsDF

    AgeCategories  PopulationByAge
0  AGE_18_OR_LESS        2096996.0
1    AGE_19_TO_49        4428873.0
2    AGE_50_TO_64        1856788.0
3   AGE_65_AND_UP        1268675.0

## Dataframes: LA County COVID

In [7]:
tempLA_COVIDDF = pd.read_csv(r'demographics.csv')

In [8]:
tempLA_COVIDDF['%OfTotalKnownCases'] = tempLA_COVIDDF['total']/tempLA_COVIDDF['total'][0:8].sum()
#Commented out after running, to suppress warning output: LA_COVIDDF['Age'][9] = "Sum"
#tempLA_COVIDDF

In [9]:
LA_COVIDDF = pd.DataFrame()
LA_COVIDDF['AgeCategories'] = ['18_Or_Less','19_To_49', '50_To_64', '65_And_Up', 'Unknown_Age','Sum_of_KnownAgeCases', 'SumOfAllCases']
LA_COVIDDF['%OfTotalKnownCases'] = [(tempLA_COVIDDF['%OfTotalKnownCases'].loc[0:2]).sum(), (tempLA_COVIDDF['%OfTotalKnownCases'].loc[3:4]).sum(), (tempLA_COVIDDF['%OfTotalKnownCases'].loc[5]), (tempLA_COVIDDF['%OfTotalKnownCases'].loc[6:7]).sum(), (tempLA_COVIDDF['%OfTotalKnownCases'].loc[8]), (tempLA_COVIDDF['%OfTotalKnownCases'].loc[0:7]).sum(),(tempLA_COVIDDF['%OfTotalKnownCases'].loc[0:8]).sum()]
LA_COVIDDF['Cases'] = [(tempLA_COVIDDF['total'].loc[0:2]).sum(), (tempLA_COVIDDF['total'].loc[3:4]).sum(), (tempLA_COVIDDF['total'].loc[5]).sum(), (tempLA_COVIDDF['total'].loc[6:7]).sum(),  (tempLA_COVIDDF['total'].loc[8]).sum(), (tempLA_COVIDDF['total'].loc[0:7]).sum(), ((tempLA_COVIDDF['total'].loc[0:8]).sum())]
LA_COVIDDF['EstimatedCases'] = LA_COVIDDF['%OfTotalKnownCases']*LA_COVIDDF['Cases'][5] 
#Distributing ^ unknown cases into known cases categories
LA_COVIDDF

          AgeCategories  %OfTotalKnownCases   Cases  EstimatedCases
0            18_Or_Less            0.109485   33507         33507.0
1              19_To_49            0.592198  181237        181237.0
2              50_To_64            0.192043   58773         58773.0
3             65_And_Up            0.106273   32524         32524.0
4           Unknown_Age            0.003271    1001          1001.0
5  Sum_of_KnownAgeCases            1.000000  306041        306041.0
6         SumOfAllCases            1.003271  307042        307042.0

## Dataframes: Place/City/Neighborhood COVID

In [10]:
hood_COVIDDF = pd.read_csv(r'community_todayUpdated.csv')
#hood_COVIDDF

In [11]:
'''Cleaning City Names'''

#Removes "City of", "Unincorporated -", and "Los Angeles -" prefixes in hood_COVIDDF so the place_IDs can match 
#the NEIGHBORHOODS in nbhdAges
city_of = "City of "
unincorporated = "Unincorporated "
LosAngeles = "Los Angeles - "
for i, row in hood_COVIDDF.iterrows():
    if city_of in row[0]:
        new_name = row[0].replace(city_of, '')
        hood_COVIDDF.at[i, 'place_ID'] = new_name
    elif unincorporated in row[0]:
        new_name = row[0].replace(unincorporated, '')
        hood_COVIDDF.at[i, 'place_ID'] = new_name
    elif LosAngeles in row[0]:
        new_name = row[0].replace(LosAngeles, '')
        hood_COVIDDF.at[i, 'place_ID'] = new_name
#The number of cases whose locations are known. There are places which don't report COVID data.
print(hood_COVIDDF['cumulative_persons_pos_today'].sum())
#hood_COVIDDF

260507

## Calculation: Interpolation of Cities' Case Demographics
Ignores the cities' actual total case numbers at first. Then it takes it into account in the bottom section of this code block. 
(They were kept in the same block because if the second part was separate, it could be run multiple times separately and that would change the answer.)

In [12]:
#Declaring variables
R = []
places = []
pop18OrLess = []
pop19To49 = []
pop50To64 = []
pop65AndUp = []
Totalpopulation = []
cityCase_18OrLess = []
cityCase_19To49 = []
cityCase_50To64 = []
cityCase_50To64 = []
cityCase_65AndUp = []
sumOfcityCase = []
totalR = 0
#Interpolating cities' cases for age categories based on LA County infected percents, LA County demographics,and the Places' demographics
#Note: This does not take into account the actual number of cases in a city. Thus, there will be estimated cases for cities whose actual cases are not known.
for i in range(1,len(hood_DemographicsDF)+1):
    places.append(hood_DemographicsDF['NEIGHBORHOOD'][i])
    Totalpopulation.append(hood_DemographicsDF['POPULATION_TOTAL'][i])
    pop18OrLess.append(hood_DemographicsDF['#18_or_Less'][i])
    pop19To49.append(hood_DemographicsDF['#19_to_49'][i])
    pop50To64.append(hood_DemographicsDF['#50_to_64'][i])
    pop65AndUp.append(hood_DemographicsDF['#65_and_Up'][i])
    totalR += 1
for i in range(0,totalR): 
    cityCase_18OrLess.append(pop18OrLess[i] * LA_COVIDDF['EstimatedCases'][0] / (LA_DemographicsDF['PopulationByAge'][0]))
    cityCase_19To49.append(pop19To49[i] * LA_COVIDDF['EstimatedCases'][1] / (LA_DemographicsDF['PopulationByAge'][1]))
    cityCase_50To64.append(pop50To64[i] * LA_COVIDDF['EstimatedCases'][2] / (LA_DemographicsDF['PopulationByAge'][2]))
    cityCase_65AndUp.append(pop65AndUp[i] * LA_COVIDDF['EstimatedCases'][3] / (LA_DemographicsDF['PopulationByAge'][3]))
    sumOfcityCase.append(cityCase_18OrLess[i] + cityCase_19To49[i] + cityCase_50To64[i] + cityCase_65AndUp[i]) 
hood_FinalDF = pd.DataFrame({'Place':places, 'TotalPopulation':Totalpopulation, 'pop18OrLess':pop18OrLess, 'pop19To49':pop19To49, 'pop50To64':pop50To64, 'pop65AndUp':pop65AndUp, 'cityCase_18OrLess':cityCase_18OrLess, 'cityCase_19To49':cityCase_19To49, 'cityCase_50To64':cityCase_50To64, 'cityCase_65AndUp':cityCase_65AndUp, 'sumOfcityCase':sumOfcityCase})

#Adds the 'Cases' for each place when it is known. Adds 'NA' if Cases are unknown
zeroes = []
for i in range(0,len(hood_FinalDF)):
    zeroes.append(0)
hood_FinalDF['Cases'] = zeroes
for i in range(0,len(hood_FinalDF)):
    #Finds the corresponding row in the COVID19 data for a place
    correspondingRow = (hood_COVIDDF[hood_COVIDDF['place_ID']==hood_FinalDF['Place'][i]].index.values)
    #If there is COVID data for a place, add the Cases to the combined DF
    if correspondingRow.size > 0: 
        hood_FinalDF['Cases'][i] = hood_COVIDDF['cumulative_cases_today'][correspondingRow[0]]
    #If there is no COVID data for a place, make a really big number for the Cases in the combined DF
    else: 
        hood_FinalDF['Cases'][i] = np.nan
        
print(totalR, " places have demographic and COVID19 data. NEED TO CHECK IF THESE STATEMENTS ARE TRUE")
print(len(hood_COVIDDF)-totalR, " places only have COVID19 data and not demographic data")



########################################################
'''
Scaling the interpolation by the number of actual cases.
Now the interpolated cases will sum to the actual number
of cases.
'''
########################################################

hood_FinalDF['cityCase_18OrLess'] = (hood_FinalDF['cityCase_18OrLess']/hood_FinalDF['sumOfcityCase'])*hood_FinalDF['Cases']
hood_FinalDF['cityCase_19To49'] = (hood_FinalDF['cityCase_19To49']/hood_FinalDF['sumOfcityCase'])*hood_FinalDF['Cases']
hood_FinalDF['cityCase_50To64'] = (hood_FinalDF['cityCase_50To64']/hood_FinalDF['sumOfcityCase'])*hood_FinalDF['Cases']
hood_FinalDF['cityCase_65AndUp'] = (hood_FinalDF['cityCase_65AndUp']/hood_FinalDF['sumOfcityCase'])*hood_FinalDF['Cases']
hood_FinalDF['sumOfcityCase'] = hood_FinalDF['cityCase_18OrLess'] + hood_FinalDF['cityCase_19To49'] + hood_FinalDF['cityCase_50To64'] + hood_FinalDF['cityCase_65AndUp']


hood_FinalDF

264  places have demographic and COVID19 data. NEED TO CHECK IF THESE STATEMENTS ARE TRUE
-41  places only have COVID19 data and not demographic data

C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:44: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dylan\anaconda3\lib\site-packages\ipykernel_launcher.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\dylan\anaconda3\lib\site-packages\pandas\core\indexing.py:671: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

,Place,TotalPopulation,pop18OrLess,pop19To49,pop50To64,pop65AndUp,cityCase_18OrLess,cityCase_19To49,cityCase_50To64,cityCase_65AndUp,sumOfcityCase,Cases
0,Rolling Hills,3218,820.590,984.708,759.448,656.472,1.947111,5.983946,3.569769,2.499173,14.0,14.0
1,Palos Verdes Estates,13340,3281.640,4175.420,3201.600,2681.340,17.195122,56.031235,33.232193,22.541450,129.0,129.0
2,Bel-Air,7691,1507.436,2822.597,1753.548,1607.419,NaN,NaN,NaN,NaN,NaN,NaN
3,Bradbury,1268,292.908,419.708,242.188,314.464,2.739679,10.053826,4.487440,4.719055,22.0,22.0
4,Century City,5513,678.099,2381.616,997.853,1455.432,11.067929,99.554455,32.263942,38.113674,181.0,181.0
...,...,...,...,...,...,...,...,...,...,...,...,...
259,Central-Alameda,40947,17033.952,19408.878,2702.502,1801.668,NaN,NaN,NaN,NaN,NaN,NaN
260,Florence-Firestone,60154,25144.372,27610.686,4391.242,2947.546,NaN,NaN,NaN,NaN,NaN,NaN
261,Bell Gardens,44054,18194.302,20793.488,3304.050,1762.160,596.799303,1746.770901,214.692619,92.737177,2651.0,2651.0
262,Vernon,94,42.018,39.010,9.964,3.008,4.795179,11.401477,2.252583,0.550761,19.0,19.0
263,Watts,36815,16787.640,15462.300,2650.680,1914.380,636.643145,1501.745049,199.132119,116.479687,2454.0,2454.0

In [13]:
n = 0
null = np.nan
for i in range(0,len(hood_FinalDF)):
    if hood_FinalDF['cityCase_18OrLess'][i] >= 0:
        n += 1
print('n = ', n, 'len(hood_FinalDF) = ', len(hood_FinalDF))
print('Cities with both COVID & Demographic data: ', n)

n =  167 len(hood_FinalDF) =  264
Cities with both COVID & Demographic data:  167

## 'Risk Score' Almost
The probabilty that when an individual from age-group-X is chosen at random, they will be infected.
i.e. The percent of age-group-X that is infected in a city/place/neighborhood.

In [14]:
hood_FinalDF['rscore_18OrLess'] = hood_FinalDF['cityCase_18OrLess']/hood_FinalDF['pop18OrLess']
hood_FinalDF['rscore_19to49'] = hood_FinalDF['cityCase_19To49']/hood_FinalDF['pop19To49']
hood_FinalDF['rscore_50to65'] = hood_FinalDF['cityCase_50To64']/hood_FinalDF['pop50To64']
hood_FinalDF['rscore_65andUp'] = hood_FinalDF['cityCase_65AndUp']/hood_FinalDF['pop65AndUp']

In [15]:
hood_FinalDF.to_csv('AgeInterpolationFinalDF.csv')

In [16]:
hood_FinalDF

,Place,TotalPopulation,pop18OrLess,pop19To49,pop50To64,pop65AndUp,cityCase_18OrLess,cityCase_19To49,cityCase_50To64,cityCase_65AndUp,sumOfcityCase,Cases,rscore_18OrLess,rscore_19to49,rscore_50to65,rscore_65andUp
0,Rolling Hills,3218,820.590,984.708,759.448,656.472,1.947111,5.983946,3.569769,2.499173,14.0,14.0,0.002373,0.006077,0.004700,0.003807
1,Palos Verdes Estates,13340,3281.640,4175.420,3201.600,2681.340,17.195122,56.031235,33.232193,22.541450,129.0,129.0,0.005240,0.013419,0.010380,0.008407
2,Bel-Air,7691,1507.436,2822.597,1753.548,1607.419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Bradbury,1268,292.908,419.708,242.188,314.464,2.739679,10.053826,4.487440,4.719055,22.0,22.0,0.009353,0.023954,0.018529,0.015007
4,Century City,5513,678.099,2381.616,997.853,1455.432,11.067929,99.554455,32.263942,38.113674,181.0,181.0,0.016322,0.041801,0.032333,0.026187
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Central-Alameda,40947,17033.952,19408.878,2702.502,1801.668,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,Florence-Firestone,60154,25144.372,27610.686,4391.242,2947.546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
261,Bell Gardens,44054,18194.302,20793.488,3304.050,1762.160,596.799303,1746.770901,214.692619,92.737177,2651.0,2651.0,0.032801,0.084006,0.064979,0.052627
262,Vernon,94,42.018,39.010,9.964,3.008,4.795179,11.401477,2.252583,0.550761,19.0,19.0,0.114122,0.292271,0.226072,0.183099
263,Watts,36815,16787.640,15462.300,2650.680,1914.380,636.643145,1501.745049,199.132119,116.479687,2454.0,2454.0,0.037923,0.097123,0.075125,0.060845

In [17]:
#Should we use a less precise measure (the first interpolation without scaling for actual cases) for cities which don't report covid data?
#We could leave the first round of interpolation for cases in cities which don't report their case numbers.