In [1]:
##########
# Import libraries
##########
import pandas as pd
import numpy as np

# Neighborhood Data

In [2]:
# Read in csv files
demographics_df = pd.read_csv(r'community_demographic_cleaned.csv')
covid_df = pd.read_csv(r'community_todayUpdated.csv')

In [3]:
# Get only race/ethnicity data from demographics_df
city_race_percent_df = demographics_df[["Neighborhood", "ASIAN.POPULATION", "BLACK.POPULATION",
                                "LATINO.POPULATION", "WHITE.POPULATION", "NON.WHITE.POPULATION",
                               "POPULATION.TOTAL"]]
city_race_percent_df = city_race_percent_df.sort_values(by='Neighborhood', ignore_index=True)

city_race_percent_df

,Neighborhood,ASIAN.POPULATION,BLACK.POPULATION,LATINO.POPULATION,WHITE.POPULATION,NON.WHITE.POPULATION,POPULATION.TOTAL
0,Acton,0.015,0.008,0.124,0.817,0.183,6522
1,Adams-Normandie,0.052,0.248,0.622,0.056,0.944,17596
2,Agoura Hills,0.062,0.008,0.070,0.828,0.172,20324
3,Agua Dulce,0.002,0.002,0.109,0.839,0.161,3130
4,Alhambra,0.472,0.014,0.355,0.138,0.862,85961
...,...,...,...,...,...,...,...
260,Willowbrook,0.006,0.443,0.530,0.009,0.991,34336
261,Wilmington,0.027,0.026,0.866,0.064,0.936,51517
262,Windsor Square,0.416,0.043,0.148,0.377,0.623,5642
263,Winnetka,0.155,0.043,0.406,0.361,0.639,46943
264,Woodland Hills,0.071,0.029,0.076,0.783,0.217,59661

In [4]:
##########
# Calculate the total population of each race in each city
# (# people of given race) = (% of city that is given race) * (# people in city)
##########

# This stores column name and corresponding number from city_race_percent_df
column_codes =  [('ASIAN', 1), ('BLACK', 2), ('LATINO', 3), ('WHITE', 4), ('NON.WHITE', 5)]

# Initialize our empty dictionary
city_race_info = {}
city_race_info['CITY'] = []
for race, j in column_codes:
    city_race_info[race] = []

# Fill in dictionary
for i, row in city_race_percent_df.iterrows():
    # Total population of a given city
    total_pop = row[6]
    # Store name of city in city_race_info
    city_name = row[0]
    city_race_info['CITY'].append(city_name)
    # Loop through all races in city_race_percent_df
    for race, j in column_codes:
        city_race_info[race].append(row[j] * total_pop)
            
# Convert to DataFrame and sort by alphabetical city-name
city_race_df = pd.DataFrame(city_race_info)
city_race_df = city_race_df.sort_values(by='CITY', ignore_index=True)

city_race_df

                CITY      ASIAN      BLACK     LATINO      WHITE  NON.WHITE
0              Acton     97.830     52.176    808.728   5328.474   1193.526
1    Adams-Normandie    914.992   4363.808  10944.712    985.376  16610.624
2       Agoura Hills   1260.088    162.592   1422.680  16828.272   3495.728
3         Agua Dulce      6.260      6.260    341.170   2626.070    503.930
4           Alhambra  40573.592   1203.454  30516.155  11862.618  74098.382
..               ...        ...        ...        ...        ...        ...
260      Willowbrook    206.016  15210.848  18198.080    309.024  34026.976
261       Wilmington   1390.959   1339.442  44613.722   3297.088  48219.912
262   Windsor Square   2347.072    242.606    835.016   2127.034   3514.966
263         Winnetka   7276.165   2018.549  19058.858  16946.423  29996.577
264   Woodland Hills   4235.931   1730.169   4534.236  46714.563  12946.437

[265 rows x 6 columns]

In [5]:
# Get only city name, city population, and cumulative case numbers from covid_df
city_covid_df = covid_df[["place_ID", "population", "cumulative_cases_today"]]
city_covid_df = city_covid_df.rename(columns={"place_ID":"CITY", 
                                              "population":"POPULATION", 
                                              "cumulative_cases_today":"POSITIVES"})
city_covid_df = city_covid_df.sort_values(by='CITY', ignore_index=True)

city_covid_df

                        CITY  POPULATION  POSITIVES
0            Adams Normandie        8202        365
1               Agoura Hills       20883        271
2                   Alhambra       86724       1738
3                     Alsace       12445        504
4    Angeles National Forest          40          2
..                       ...         ...        ...
218       Wholesale District       36129       2898
219               Wilmington       56487       2322
220          Wilshire Center       50170       1497
221                 Winnetka       51786       1973
222           Woodland Hills       68055       1477

[223 rows x 3 columns]

In [6]:
##########
# Concatenate all data for each city into one dataframe
##########

# This stores column name and corresponding number from city_race_percent_df
column_codes =  [('ASIAN', 1), ('BLACK', 2), ('LATINO', 3), ('WHITE', 4), ('NON.WHITE', 5)]

# Initialize empty dictionary
city_info = {}
city_info['CITY'] = []
for race, j in column_codes:
    city_info[race] = []
city_info['POSITIVES'] = []
city_info['POPULATION'] = []

# Fill in dictionary
for i, city_race_row in city_race_df.iterrows():
    # Get city name
    city = city_race_row[0]
    
    # Find city in city covid data
    city_covid_data = city_covid_df.loc[city_covid_df['CITY'] == city]
    # if city does not exist in city covid data, then continue to next city
    if city_covid_data.empty:
        continue
    # if city exists in both city demographic data and city covid data, then add it to city info 
    else:
        # add demographic data
        city_info['CITY'].append(city)
        for race, j in column_codes:
            city_info[race].append(city_race_row[j])

        # add covid data
        index = city_covid_df.loc[city_covid_df['CITY'] == city].index.to_numpy().item()
        city_info['POPULATION'].append(city_covid_data['POPULATION'].loc[index])
        city_info['POSITIVES'].append(city_covid_data['POSITIVES'].loc[index])

city_df = pd.DataFrame(city_info)
city_df

,CITY,ASIAN,BLACK,LATINO,WHITE,NON.WHITE,POSITIVES,POPULATION
0,Agoura Hills,1260.088,162.592,1422.680,16828.272,3495.728,271,20883
1,Alhambra,40573.592,1203.454,30516.155,11862.618,74098.382,1738,86724
2,Arcadia,24039.754,423.608,5242.149,21339.253,31611.747,716,57754
3,Arleta,3417.480,683.496,22275.756,4100.976,26967.024,2197,34370
4,Artesia,4520.880,491.400,6273.540,4275.180,12104.820,516,16795
...,...,...,...,...,...,...,...,...
162,Westwood,11068.596,958.320,3354.120,30139.164,17776.836,715,54109
163,Whittier,3185.844,754.542,46781.604,31103.898,52734.102,3285,87432
164,Wilmington,1390.959,1339.442,44613.722,3297.088,48219.912,2322,56487
165,Winnetka,7276.165,2018.549,19058.858,16946.423,29996.577,1973,51786
166,Woodland Hills,4235.931,1730.169,4534.236,46714.563,12946.437,1477,68055

# Countywide Data

In [7]:
#countyDF = pd.read_csv(r'PATHNAME')

In [8]:
county_race_covid = {'Race/Ethnicity':['American Indian/Alaska Native','Asian', 
                                       'Black','Hispanic/Latino', 
                                      'Native Hawaiian/Pacific Islander','White'],
                    'Cases':[316, 10473, 10113, 129999, 967, 28990]}
county_race_covid_df = pd.DataFrame(county_race_covid)

In [9]:
##########
# Clean up county_race_covid_df
##########
county_race_covid_df.drop(index=0, inplace=True)
county_race_covid_df.drop(index=4, inplace=True)

non_white = 0
for i, row in county_race_covid_df.iterrows():
    upper = row[0].upper()
    if upper == 'HISPANIC/LATINO':
        upper = 'LATINO'
    county_race_covid_df.at[i, 'Race/Ethnicity'] = upper
    if upper != 'WHITE':
        non_white += county_race_covid_df.at[i, 'Cases']

non_white_row = {'Race/Ethnicity':'NON.WHITE', 
                 'Cases' : non_white}
county_race_covid_df = county_race_covid_df.append(non_white_row, ignore_index=True)

county_race_covid_df

  Race/Ethnicity   Cases
0          ASIAN   10473
1          BLACK   10113
2         LATINO  129999
3          WHITE   28990
4      NON.WHITE  150585

In [10]:
##########
# Demographics data for LA County from U.S. Census Bureau
# https://www.census.gov/quickfacts/losangelescountycalifornia
##########
county_race = {'Race/Ethnicity':['American Indian/Alaska Native',
                                    'Asian', 'Black','Hispanic/Latino', 
                                    'Native Hawaiian/Pacific Islander', 'White',],
                'Percent':[0.004, 0.154, 0.09, 0.486, 0.004, 0.261],
              }
total_pop = 10039107
pop_num = np.zeros_like(county_race['Percent'])
for i in np.arange(len(county_race['Percent'])):
    pop_num[i] = int(county_race['Percent'][i] * total_pop)
county_race['Population'] = pop_num

county_race_df = pd.DataFrame(county_race)
county_race_df.drop(columns='Percent', inplace=True)

In [11]:
##########
# Clean up county_race_df
##########
county_race_df.drop(index=0, inplace=True)
county_race_df.drop(index=4, inplace=True)

non_white = 0
for i, row in county_race_df.iterrows():
    upper = row[0].upper()
    if upper == 'HISPANIC/LATINO':
        upper = 'LATINO'
    county_race_df.at[i, 'Race/Ethnicity'] = upper
    if upper != 'WHITE':
        non_white += county_race_df.at[i, 'Population']

non_white_row = {'Race/Ethnicity':'NON.WHITE', 
                 'Population' : non_white}
county_race_df = county_race_df.append(non_white_row, ignore_index=True)

county_race_df

  Race/Ethnicity  Population
0          ASIAN   1546022.0
1          BLACK    903519.0
2         LATINO   4879006.0
3          WHITE   2620206.0
4      NON.WHITE   7328547.0

In [12]:
##########
# Merge county_race_df with county_race_covid_df
##########
county_info = {'RACE':[], 'POPULATION':[], 'POSITIVES':[]}
for i, row in county_race_df.iterrows():
    county_info['RACE'].append(row[0])
    county_info['POPULATION'].append(row[1])
    county_info['POSITIVES'].append(county_race_covid_df.at[i, 'Cases'])
        
county_df = pd.DataFrame(county_info)
county_df

        RACE  POPULATION  POSITIVES
0      ASIAN   1546022.0      10473
1      BLACK    903519.0      10113
2     LATINO   4879006.0     129999
3      WHITE   2620206.0      28990
4  NON.WHITE   7328547.0     150585

# Data Imputation for Neighborhoods

In [13]:
'''
PROPORTION

# interpolated positive cases per race in city      # positive cases per race in county
-------------------------------                  =   ------------------------------------
# people of race in city                            # people of race in county

SCALING

# scaled cases per race in city =    # interpolated positive cases per race in city
                                      ----------------------------------------        x total acutual cases
                                     total interpolated cases for all races in city
                                            
PERCENTAGE

% of total positives from given race = # true positive cases per race in city
                                        --------------------------------------
                                        total population of given race in city

'''

'\nPROPORTION\n\n# interpolated positive cases per race in city      # positive cases per race in county\n-------------------------------                  =   ------------------------------------\n# people of race in city                            # people of race in county\n\nSCALING\n\n# scaled cases per race in city =    # interpolated positive cases per race in city\n                                      ----------------------------------------        x total acutual cases\n                                     total interpolated cases for all races in city\n                                            \nPERCENTAGE\n\n% of total positives from given race = # true positive cases per race in city\n                                        --------------------------------------\n                                        total population of given race in city\n\n'

In [16]:
# empty dataframe that will store percentage of each city's positive cases that come from each race
city_positive_race_df = pd.DataFrame(columns=['CITY', 'ASIAN', 'BLACK', 'LATINO', 'WHITE', 'NON.WHITE',
                                             'TOTAL.POP', 'TOTAL.CASES'])
# this stores the column names and corresponding number in city_df
column_codes = [('ASIAN', 1), ('BLACK', 2), ('LATINO', 3), ('WHITE', 4), ('NON.WHITE', 5)]

# iterate through all the rows in city_race_df
for i, city_row in city_df.iterrows():
    # empty dictionary to story the data from a given city
    city_info = {}
    
    # get neighborhood name from city_race_df and store it in city_info
    city_name = city_row[0]
    city_info['CITY'] = city_name
    
    total_interpolated = 0
    raw_race = {}
    # calculate raw interpolation
    for race, j in column_codes:        
        # get population of given race in the city
        pop_city_race = city_row[j]
    
        county_race_data = county_df.loc[county_df['RACE'] == race]
        # get population of given race in the county
        pop_county_race = county_race_data['POPULATION'].loc[j-1]
        # get number of positive cases in the county for given race
        num_county_positive_race = county_race_data['POSITIVES'].loc[j-1]

        #calculate number of positives for given race in city 
        raw_race[race] = int((num_county_positive_race / pop_county_race) * pop_city_race)
        total_interpolated += raw_race[race]
    
    # scale number of cases by total cases in city and divide by race population to get percent
    total_cases_in_city = city_row[6]
    for race, j in column_codes:
        # scale number of positives by number of total positive cases per city
        scaled_num_positive = int((raw_race[race] / total_interpolated) * total_cases_in_city)
        
        # get population of given race in the city
        pop_city_race = city_row[j]
        print(pop_city_race)
        # divide scaled number by population of race in city to get final percentage
        if pop_city_race != 0:
            city_info[race] = scaled_num_positive / pop_city_race
        else:
            city_info[race] = 0.0
    
    city_info['TOTAL.CASES'] = total_cases_in_city
    city_info['TOTAL.POP'] = city_row[7]
    
    # append city_info to city_positive_race_df
    city_positive_race_df = city_positive_race_df.append(city_info, ignore_index=True)
        
city_positive_race_df

1260.088
162.592
1422.68
16828.272
3495.7279999999996
40573.592000000004
1203.454
30516.155
11862.618
74098.382
24039.753999999997
423.608
5242.149
21339.252999999997
31611.747
3417.48
683.4960000000001
22275.756
4100.976000000001
26967.024
4520.88
491.4
6273.539999999999
4275.18
12104.820000000002
2932.9359999999997
208.432
7637.544
3305.136
11582.864
47.714999999999996
9.543000000000001
1456.898
1577.776
1603.224
2485.504
1509.056
28716.448
10474.624
33909.376000000004
8938.854000000001
1060.542
59617.611000000004
5605.722000000001
70147.27799999999
440.004
293.336
33256.969000000005
2163.353
34503.647
220.27
264.324
41278.598000000005
2070.538
41983.462
7355.728999999999
8957.967
31170.811999999998
22431.332
50397.668000000005
434.08
184.484
368.968
9495.5
1356.5
2571.004
473.60599999999994
1623.7920000000001
27672.122
6156.878
443.84
255.36
370.88
4864.0
1216.0
2226.1440000000002
834.8040000000001
87190.64
1855.1200000000001
90900.88
237.11599999999999
12.68
150.89200000000002
838.1479999999999
429.852
2037.3600000000001
376.128
1410.48
26391.648
4952.352
9229.072
1605.056
24878.368
58985.808
41330.192
1896.6599999999999
231.3
1225.8899999999999
19244.160000000003
3885.84
5908.197
2288.761
27092.543
16340.689
36886.310999999994
21849.956
22208.152
31252.601
10745.88
78803.12
413.61
622.848
773.694
2812.548
2053.452
474.11799999999994
77.18199999999999
242.57200000000003
4548.224999999999
964.775
30217.472999999998
3317.184
5442.255
10884.51
40946.490000000005
5050.512000000001
771.6060000000001
4734.8550000000005
23042.961
12030.038999999999
631.995
90.28500000000001
576.4350000000001
5472.66
1472.34
6784.66
172.98000000000002
2258.35
240.25
9369.75
4141.449
1663.659
5486.535
22760.271
12636.729000000001
138.413
50.332
11752.522
553.652
12029.348
1321.376
37564.831999999995
53515.728
755.072
93628.928
4993.492
2394.838
20126.83
21502.588000000003
29451.411999999997
169.456
48.416000000000004
22707.104
1065.152
23142.847999999998
4774.368
4153.312
9238.208
18748.128
20067.872
3949.4099999999994
1232.44
12408.429999999998
9523.400000000001
18486.600000000002
24133.2
2612.064
10561.824000000002
17546.256
39237.744
7941.902000000001
3756.3050000000003
62032.693999999996
30694.378000000004
76628.622
5931.8369999999995
6210.327
10220.583
4511.5380000000005
23337.462
2728.722
1869.282
9260.466
6854.034000000001
14631.965999999999
7765.826999999999
617.367
13094.678999999998
9682.913999999999
22810.086000000003
11464.885
1775.208
44676.068
12944.224999999999
61022.774999999994
7605.54
809.1
25891.2
5218.695
35236.305
21506.065
581.245
84280.525
8486.177
107762.823
1069.99
175.67000000000002
1644.91
12392.72
3577.2799999999997
4668.756
696.2180000000001
33254.648
2006.746
38947.254
1098.02
53.13
1204.2800000000002
78.42999999999999
2451.57
1891.0720000000001
81.257
4506.07
716.5389999999999
6670.461
2053.3450000000003
1005.72
3561.925
33565.905
8339.095
496.992
11834.622
17425.782000000003
683.364
30378.636
15726.496000000001
14165.41
18386.124
7169.432
50648.56799999999
4083.258
328.53799999999995
15511.686999999998
3214.979
20252.021
31792.661
1950.47
38229.212
105520.42700000001
89526.57299999999
3261.505
652.301
11089.117
33718.944
16458.055999999997
8237.205
1718.19
10410.210000000001
28046.925000000003
22488.075
85.143
12516.021
15382.502
170.286
28210.714000000004
1284.324
372.55199999999996
833.34
6931.428000000001
2872.5719999999997
3322.1009999999997
2521.027
11332.841
5913.811
17647.189000000002
6350.08
6469.144
21193.392
4683.184
35004.816
2472.071
2973.92
12323.180999999999
613.371
17973.629
61.782000000000004
4983.748
4963.154
113.26700000000001
10183.733
1327.4350000000002
686.09
10977.44
1625.735
13289.265
6556.139999999999
27949.86
38129.13
11128.185
75136.815
903.658
129.094
1272.498
15657.258000000002
2784.7419999999997
50.62500000000001
7.5
116.25
1663.125
211.875
6447.391999999999
1381.584
41677.78400000001
6504.9580000000005
51061.042
5525.0779999999995
4046.5360000000005
32839.196
31905.379999999997
45912.619999999995
1446.3960000000002
993.048
2029.272
15996.708
5591.292
490.96000000000004
368.22
58362.869999999995
1841.1
59528.9
402.985
24179.100000000002
10001.355000000001
732.7
35902.3
89.712
17.136000000000003
626.976
241.92
766.08
1237.3020000000001
52191.647999999994
51741.72
4499.28
107982.72
20.607999999999997
0.0
1301.248
119.232
1352.768
670.77
10824.84
10385.37
624.5100000000001
22505.489999999998
37052.54
5523.36
61562.450000000004
8515.18
106554.81999999999
1176.142
140.162
725.186
3894.0660000000003
2199.9339999999997
7017.3
795.2940000000001
15671.970000000001
21940.757999999998
24841.242000000002
2952.648
779.1709999999999
33914.443
2747.603
38261.397
2450.6580000000004
927.276
7583.793
21194.88
11922.119999999999
2132.9440000000004
848.33
8265.158000000001
11876.619999999999
12361.380000000001
10958.856000000002
5558.84
18185.347999999998
41532.476
37879.524000000005
4710.537
18600.582
29108.703
63531.858
57251.142
3331.545
3680.564
16625.996
7012.109
24716.891
541.972
9378.472
1343.1480000000001
141.38400000000001
11640.616
6707.232
106.464
18817.512000000002
718.6320000000001
25897.368
2338.1279999999997
819.3439999999999
5215.8240000000005
10731.408000000001
9252.591999999999
4757.13
1303.8060000000003
6589.506
20297.088000000003
14940.912
838.788
9296.567000000001
57317.17999999999
2027.071
67871.929
187.70999999999998
150.168
688.27
11112.432
1401.5679999999998
34.782000000000004
9112.883999999998
2226.0480000000002
81.15799999999999
11512.842
2110.418
170.195
1735.9889999999998
29103.345
4935.655
4542.976
1242.22
10328.172
18207.396
17284.604000000003
56.166000000000004
0.0
27072.012000000002
786.324
27296.676
1951.359
729.48
9775.032000000001
5288.73
12948.269999999999
2503.556
2982.177
12959.584
17009.454
19807.546
7063.4400000000005
309.8
46284.12
6753.64
55206.35999999999
36619.063
59.933
17260.704
4435.042
55497.958
6477.59
2548.56
29998.674999999996
12848.99
40246.01
4437.336
4359.487999999999
44918.296
21018.960000000003
56829.04
8346.345
3108.2940000000003
15023.421
28492.695
29068.305
12077.090999999999
4438.589
64824.044
19612.37
83610.63
1316.7
95.76
766.08
21210.839999999997
2729.1600000000003
1425.266
5401.008000000001
64211.984
3450.644
71563.356
4579.848
16205.616000000002
44389.295999999995
47677.392
69754.608
8679.18
5190.49
9955.529999999999
16294.734999999999
26250.265
2307.82
146.74
386.85999999999996
10071.7
3268.2999999999997
7826.154
2827.9379999999996
46101.966
7563.09
58202.91
2378.7169999999996
6582.961
40327.55100000001
4923.3910000000005
50395.609
1578.775
315.755
55509.729
4736.325
58414.675
512.192
113.552
840.7679999999999
782.784
1633.216
10819.368
13674.479
96773.236
25545.730000000003
124723.26999999999
6679.3640000000005
448.61400000000003
1869.225
15178.107
9744.893
10407.852
867.321
2312.8559999999998
25937.028
15363.972000000002
781.6899999999999
154.62
695.7900000000001
2503.9849999999997
1791.015
6073.0560000000005
1391.7420000000002
8476.974
44535.744000000006
18725.256
6963.487999999999
2611.308
27045.69
23128.728000000003
39045.272
463.39200000000005
57.92400000000001
157.68200000000002
2448.8979999999997
769.102
1641.7979999999998
108.34200000000001
466.70399999999995
5817.132
2516.868
25894.079999999998
319.68
21844.8
4262.4
49017.6
3155.7599999999998
946.7280000000001
8240.039999999999
21318.912
13745.088
117.67
164.73799999999997
21062.93
1882.72
21651.280000000002
19220.634
393.06
11949.024
6839.244
32466.755999999998
6071.364
64.865
622.7040000000001
5708.12
7264.880000000001
3843.12
4883.965
32666.519999999997
35388.73
44676.27
8187.244000000001
3306.387
32591.529
108323.536
49123.464
642.0240000000001
588.522
12769.144
3424.128
14409.872
5969.963999999999
2942.94
11351.34
59951.892
24132.107999999997
903.7620000000001
170.274
3759.1259999999997
7740.918
5357.081999999999
3486.462
2691.304
7217.588000000001
45140.508
16025.492
550.056
126.936
1047.222
8409.51
2168.49
1752.5969999999998
982.938
2689.1699999999996
3329.007
5943.9929999999995
1632.93
20.935
18045.97
1067.685
19867.315000000002
867.7620000000001
578.508
88800.97799999999
5688.662
90729.33799999999
30.496000000000002
5855.232
23969.855999999996
304.96
30191.04
6221.568
656.181
3912.783
12248.712
12054.288
1837.8360000000002
1259.2580000000003
2960.9579999999996
26546.52
7487.4800000000005
6143.688
1441.1119999999999
52638.512
13576.792
62271.208
1087.436
352.268
3292.94
9940.084
5375.916
2362.9660000000003
2849.459
48510.301999999996
14386.293
55112.706999999995
1775.1000000000001
1278.0720000000001
5360.802
25099.914000000004
10402.086
12818.960000000001
299.66400000000004
6759.088000000001
12685.776
20610.224
389.1
412.44599999999997
1089.48
5595.258000000001
2186.742
39448.838
2620.727
17793.357
71863.09300000001
66069.90699999999
1750.7820000000002
477.48600000000005
6923.5470000000005
16101.889
10425.110999999999
3798.956
1651.7200000000003
11255.292000000001
6016.9800000000005
17579.02
3198.4200000000005
2309.97
26771.96
23395.850000000002
35834.15
1064.3600000000001
1330.45
4571.909999999999
16134.730000000001
8055.2699999999995
6641.28
6226.2
62780.85
23970.870000000003
79799.13

1545.9049999999997
2036.0700000000002
8181.985
24206.61
13498.39
247.392
8782.416
11235.720000000001
206.16
20409.84
498.124
17751.328
25585.46
633.9759999999999
44650.024
186.328
10480.95
12134.611
256.201
23034.799000000003
0.0
0.0
87.044
1.9740000000000002
92.02600000000001
16862.248000000003
1140.152
5730.764
5550.74
24453.26
73.63
13658.365
22678.04
184.07500000000002
36630.925
369.988
8183.264
12231.368
522.336
21241.664
23810.711
6188.687000000001
47726.315
24544.962
80348.03799999999
4385.982
970.35
4269.54
27519.126000000004
11294.874000000002
1428.64
1000.0479999999999
3214.44
29001.392000000003
6714.608
1443.126
303.81600000000003
670.927
9709.453
2949.547
3984.0
6889.0
6847.5
21704.5
19795.5
17133.435
4049.721
76217.82600000002
4672.755
99166.245
537.106
43.315
389.835
7406.865
1256.135
11068.596000000001
958.32
3354.1200000000003
30139.164
17776.836
3185.844
754.5420000000001
46781.60399999999
31103.898
52734.102
1390.959
1339.442
44613.722
3297.088
48219.912
7276.165
2018.5489999999998
19058.858
16946.423
29996.577
4235.931
1730.1689999999999
4534.236
46714.562999999995
12946.437

,CITY,ASIAN,BLACK,LATINO,WHITE,NON.WHITE,TOTAL.POP,TOTAL.CASES
0,Agoura Hills,0.005555,0.000000,0.023196,0.009864,0.018022,20883,271
1,Alhambra,0.004239,0.006648,0.016811,0.006912,0.012956,86724,1738
2,Arcadia,0.004035,0.004721,0.015833,0.006608,0.012337,57754,716
3,Arleta,0.011997,0.017557,0.047855,0.019508,0.036934,34370,2197
4,Artesia,0.006857,0.010175,0.027576,0.011228,0.021231,16795,516
...,...,...,...,...,...,...,...,...
162,Westwood,0.005421,0.008348,0.021764,0.009058,0.016820,54109,715
163,Whittier,0.007847,0.011928,0.032363,0.013439,0.024955,87432,3285
164,Wilmington,0.006470,0.010452,0.027637,0.011222,0.021298,56487,2322
165,Winnetka,0.009620,0.015358,0.037988,0.015756,0.029337,51786,1973
166,Woodland Hills,0.010151,0.016761,0.041021,0.017190,0.031901,68055,1477

In [17]:
city_positive_race_df.to_csv('race-ethnicity_interpolated.csv')